
.icon-phone:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
